html,

body {
    background: white;  
    background-image: url("../public/bilder/cardBilder/hausCover2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%; 
}

.h5 {
  color:black !important; 
}

.coverText {
  backdrop-filter: brightness(60%);
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}


.kontaktText {
  text-align: center;
  backdrop-filter: brightness(50%);
  border-radius: 30px;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}


h1 {
  backdrop-filter: brightness(80%);
  border-radius: 30px;
}

.hr {
  backdrop-filter: brightness(80%);
  
}

.bild1 {
    margin: auto;
}

.headerDiv {
  display: flex; 
	justify-content:space-between;
  background-color: white;
  opacity: 0.9;
  margin:auto;
}

.skizzeBild {
aspect-ratio: 16/9;
display:"flex";
justify-content: center;
align-items: center;
padding-right: 8rem;
padding-left: 8rem;
}

.skizzeBildContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;

}

.linkDiv {
  display: flex;
  margin-top: 10px;
  padding-bottom: 0px;
  
}

.logo2 {
  background-color: white;
  opacity: 0.9;
  
}

.logo1 {
  background-color: white;
  opacity: 0.9;
  
}

.urlBild {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

.HausCover {
  display: block;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.link {
  padding:20px;
  text-align: center;
}

:hover.link {
  color: grey;
}

/* row-cols-3 p-5 
className="mt-1 col" */

.bilderDiv {
  display:block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 900px;
  text-align: center;
}

.einzelBild {
display:block;
margin-bottom: 20px;
margin-left: 0.3rem;
float: left;
}

.bildDecoration {
  text-align: center; 
  display:block;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.hollow {
  color: transparent;
}

.footer {
  padding-top: 7px;
  margin-bottom: 5px;
  font-family: arial;
  
}


@media only screen and (max-width: 600px) {

  .bilderDiv {
    display:block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 900px;
  }
  
  .einzelBild {
    margin-bottom: 20px;
  }


.HausCover {
  display: block;
  text-align: center;
  margin-left: 0rem;
  width: 24rem;
}

.coverText {
  backdrop-filter: brightness(60%);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  
}

.link {
padding: 0;
}


}